/* Colours
#FFFFCB
#C9FFD5
#C9FFD5
#2C858D
#004056  <  Icon colour
*/

:root {
  --background: #ffffcb;
  --text-colour: #004056;
}

html {
  font-family: "Lobster", cursive;
  font-size: 1.5em;
  background-color: var(--background);
  color: var(--text-colour);
}

header {
  display: flex;
  justify-content: space-around;
  padding-top: 3em;
}

.header-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
  font-size: 6em;
}

.weather-icon-large {
  height: 5em;
  width: auto;
}

/* Create a 2x2 grid */
.header-right {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.info-group {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  height: 4em;
  font-size: 4em;
  border: 1px solid #000;
}
